@import "../../../styles/index";
@import "../../../styles/mixins";


.screen {
  width: 100%;
  background-color: $BgFooterHeader;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: ShowScreeen .5s ease-in-out;
  @media (max-width: 768px) {
    background-position: 60%;
  }

  .screen__inner {
    @include flexBox($justifyContent: center, $flexDirection: column, $alignItems: flex-start);
    color: $TitleColorWhate;

    @media (max-width: 480px) {
      height: 100vh !important;
    }

    .screen__title {
      margin-top: 100px;
      letter-spacing: 3px;

      .title__one {
        display: block;
        margin-bottom: 10px;
        @include titleStyle($size: 23px);
        text-transform: uppercase;
      }

      .title__two {
        display: block;
        margin-bottom: 10px;
        @include titleStyle($size: 55px, $color: $TitleColor, $family: LoraReg);
      }

      .title__thre {
        @include titleStyle($size: 18px);
        display: block;
        margin-bottom: 10px;
      }
    }

    .screen__decor {
      display: block;
      width: 120px;
      height: 1px;
      background-image: url("../../../imgs/decor-line.png");
      margin: 20px 0;
    }

    .screen__social {
      padding: 50px 0 20px 0;
      display: flex;
      align-items: center;

      .screen__social_item {
        display: flex;
        align-items: center;

        &:last-child {
          .screen__social_decor {
            display: none;
          }
        }

        .screen__social_decor {
          display: block;
          background-image: url("../../../imgs/icons/Line.svg");
          background-repeat: no-repeat;
          background-position: center;
          width: 60px;
          height: 30px;
        }

        a {
          display: block;
          img {
            width: 70%;
          }
        }
      }


    }
  }
}

