@import "src/styles/index";


.screen {
  width: 100%;
  background-color: $BgColor;
  position: relative;
  background-size: cover;

  .screen__inner {
    display: flex;
    height: 580px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: $TitleColorWhate;

    .screen__title {
      margin-top: 100px;
      letter-spacing: 3px;
      .title__one {
        display: block;
        font-size: 23px;

        margin-bottom: 10px;
        text-transform: uppercase;
      }

      .title__two {
        display: block;
        font-size: 55px;
        margin-bottom: 10px;
        font-family: LoraReg;
        color: $TitleColor;
      }

      .title__thre {
        font-size: 18px;
        display: block;
        margin-bottom: 10px;
      }
    }

    .screen__decor {
      display: block;
      width: 120px;
      height: 1px;
      background-image: url("../../../imgs/decor-line.png");
      margin: 20px 0;
    }

    .screen__social {
      padding: 50px 0 20px 0;
      display: flex;
      align-items: center;
      .screen__social_decor {
        display: block;
        background-image: url("../../../imgs/icons/Line.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 60px;
        height: 30px;
      }
      a {
        display: block;
        img {
          width: 100%;
        }
      }
    }
  }
}