@import "../../../styles/index";
@import "../../../styles/mixins";

.about {
  @include wrapperContent();
  .about__charts {
    display: flex;
    justify-content: space-between;



    @media (max-width: 768px) {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 480px) {
      display: block;
    }
  }

  .about__text {
    margin: 50px -20px 0 -20px;
    display: flex;
    @media (max-width: 768px) {
      display: block;

    }
    .about__text_block {
      margin: 0 20px;
      p {
        @include titleStyle($size: 16px, $color: $TextColor, $leterSpacing: 2px);
        span {
          display: block;
          @include titleStyle($color: $TextColor);
        }
        line-height: 25px;
        margin-bottom: 20px;
      }
    }
  }
}