@import "../../../styles/index";
@import "../../../styles/mixins";

.field {
  width: 100%;
  position: relative;

  input {
    width: 100%;
    padding: 15px;

    &::placeholder {
      @include titleStyle($size: 18px, $color: rgba(204, 204, 204, 0.5));
    }

    &:hover {
      &::placeholder {
        transition: color .2s ease-in-out;
        color: rgba(204, 204, 204, 0.8);
      }
    }
  }
  span {
    position: absolute;
    left: 15px;
    bottom: -20px;
    color: #940000;
    font-size: 13px;
    @media (max-width: 768px) {
      bottom: -5px;
    }
  }
}


.fieldarea {
  position: relative;
  margin: 0;
  textarea {

    width: 100%;
    padding: 15px;

    &::placeholder {
      @include titleStyle($size: 18px, $color: rgba(204, 204, 204, 0.5));
    }

    &:hover {
      &::placeholder {
        transition: color .2s ease-in-out;
        color: rgba(204, 204, 204, 0.8);
      }
    }
  }

  span {
    position: absolute;
    left: 15px;
    bottom: -20px;
    color: #940000;
    font-size: 13px;
  }
}
