
.header {
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  color: white;
  z-index: 1;

  .header__inner {
    padding: 60px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__burger {
      cursor: pointer;
      width: 15px;
      height: 12px;
      position: relative;

      &:hover {
        &::before {
          left: 0;
          transition: left ease-in-out .2s;
        }
      }

      span {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
      }

      &::before, &::after {
        content: "";
        left: 0;
        position: absolute;
        width: 15px;
        height: 2px;
        background-color: #fff;
      }

      &::before {
        top: 5px;
        left: 5px;
      }

      &::after {
        bottom: 0;
      }
    }
  }
}

///////////////////////////////////////////////////////////

.header__menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: rgba(52, 38, 17, 0.58);
}