@import '../../styles/index';
@import "../../styles/mixins";

.footer {

  background-color: $BgFooterHeader;

  .footer__inner {
    height: 100px;
    @include flexBox();
    @media (max-width: 480px) {
      padding: 15px 0;
      @include flexBox(
              $justifyContent: space-between,
              $alignItems: center,
              $flexDirection: column-reverse,
      );
    }
    .footer__reserved {
      font-size: 16px;
      opacity: .6;
      user-select: none;
    }

    .footer__social {
      width: 200px;
      @include flexBox();

      img {
        width: 80%;
        opacity: .6;

        &:hover {
          transition: .3s opacity ease-in-out;
          opacity: 1;
        }
      }
    }
  }
}