@import "../../../styles/index";
@import "../../../styles/mixins";

.contacts {
  @include wrapperContent();


  .contacts__inputs {
    @include flexBox();
    margin-bottom: 30px;
    @media (max-width: 768px) {
      display: block;
      margin-bottom: 0;
    }

    .contacts__inputs_item {
      &:nth-child(1) {
        margin: 0 30px 0 0;
        @media (max-width: 768px) {
          margin: 0 0 15px 0;

        }
      }

      input {
        @include titleStyle($size: 18px, $color: $TitleColorWhate);
        background-color: $BgFooterHeader;
      }
    }
  }

  .contacts__arial {
    margin: 15px 0 30px 0;

    .contacts__arial_item {
      textarea {
        @include titleStyle($size: 18px, $color: $TitleColorWhate);
        background-color: $BgFooterHeader;
        height: 300px;
      }
    }
  }
}